<!doctype html>
<head>
<title>Twitch Plays Pokemon ASCII Edition</title>
<style>

body {
    background-color: #F5F5F5;
}

#pokemon {
    position: relative;
    float: left;
    margin-left: 30%;
}


#data {
    height: 300px;
    width: 250px;
    position: absolute;
    top: 62px;
    left: 85px;
    background-color: #9dba5e;
    padding-left: 20px;
    text-shadow: 1px 1px #696969;
    font-size: 1.0em;
    line-height: 15px;
}

#gameboy {
    position: relative;
    z-index: 100;
}

#about {
    float: left;
    margin-left: 40px;
    width: 400px;
}

</style>

</head>

<body>

<div id="wrapper">
    <h1 align="center">Twitch Plays Pokemon<br/>ASCII Edition</h1>

    <div id="pokemon">
        <img id="gameboy" src="/static/img/gamebot.png" />
        <pre id="data">{{ dithered }}</pre>
    </div>

    <div id="about">
            <p>Created by: <a href="http://github.com/rmmh">rmmh</a> and <a href="http://github.com/ell">ell</a></p>
            <hr />
            <p><a href="http://twitch.tv/twitchplayspokemon">Twitch Plays Pokemon</a> is a stream where thousands of people try to collaboratively complete Pokemon by providing button input on chat. This site takes that stream, runs it through character recognition, and displays it live over websockets using Python, OpenCV, Flask, and a little bit of redis. All of the code is opensource and can be found on GitHub at <a href="http://github.com/ell/asciimon">ell/asciimon</a>. Most of the interesting stuff is found in the <a href="http://github.com/rmmh/pokr">rmmh/pokr</a> repository.</p>
            <p>Hosting is 50% of a $5 DigitalOcean Box's CPU and 250GB/mo bandwidth to pull down the twitch stream. Not too bad in my opinion.</p>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48459939-1', 'boner.io');
    ga('send', 'pageview');
</script>

<script src="/static/js/reconnecting-websocket.js"></script>
<script src="/static/js/main.js"></script>
</body>
